# Configuration options for Actions OSAL

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

if DISPLAY

menuconfig DISPLAY_COMPOSER
	bool "Display Composer"
	default y if UI_SERVICE
	help
	  Enable Display composer

if DISPLAY_COMPOSER

config DISPLAY_COMPOSER_DEBUG_FPS
	bool "Debug Post Frame Rate (fps) in Display Composer"
	default y
	help
	  Debug post frame rate (fps) in Display Composer

config DISPLAY_COMPOSER_DEBUG_VSYNC
	bool "Debug VSYNC/TE Signal Period in Display Composer"
	default y
	help
	  Debug VSYNC/TE signal period in Display Composer

endif # DISPLAY_COMPOSER

config GUI_API_BROM
	bool "GUI ROM API"
	help
	  Enable GUI ROM API

if GUI_API_BROM

config GUI_API_BROM_LARK
	bool
	default y if SOC_SERIES_LARK

config GUI_API_BROM_LEOPARD
	bool
	default y if SOC_SERIES_LEOPARD

endif # GUI_API_BROM

endif # DISPLAY
