# Flash driver configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

#
# Flash driver
#
config FLASH_HAS_DRIVER_ENABLED
	bool
	help
	  This option is enabled when any flash driver is enabled.

config FLASH_HAS_PAGE_LAYOUT
	bool
	help
	  This option is enabled when the SoC flash driver supports
	  retrieving the layout of flash memory pages.

config FLASH_JESD216
	bool
	help
	 Selected by drivers that support JESD216-compatible flash
	 devices to enable building a common support module.

config FLASH_JESD216_API
	bool "Provide API to read JESD216 flash parameters"
	depends on FLASH_JESD216
	help
	  This option extends the Zephyr flash API with the ability
	  to access the Serial Flash Discoverable Parameter section
	  allowing runtime determination of serial flash parameters
	  for flash drivers that expose this capability.

menuconfig FLASH
	bool "Flash hardware support"
	help
	  Enable support for the flash hardware.

if FLASH

module = FLASH
module-str = flash
source "subsys/logging/Kconfig.template.log_config"

config FLASH_SHELL
	bool "Enable Flash shell"
	depends on SHELL && FLASH_PAGE_LAYOUT
	default y
	help
	  Enable the flash shell with flash related commands such as test,
	  write, read and erase.

config FLASH_PAGE_LAYOUT
	bool "API for retrieving the layout of pages"
	depends on FLASH_HAS_PAGE_LAYOUT
	default y
	help
	  Enables API for retrieving the layout of flash memory pages.

config SPINOR_TEST_DELAYCHAIN
	bool "test delaychain"
	default n
	help
	  Enables test delaychain try.

config XSPI_NOR_ACTS_DEV_TEST_DELAYCHAIN_PRIORITY
	int "test delaychain proprity"
	default 60
	help
	  set test delaychain try proprity.

config NOR_ACTS_DATA_PROTECTION_ENABLE
	bool "write protection"
	default n
	help
	  Enables write protection.

config NOR_ACTS_DQ_MODE_ENABLE
	bool "try nor dual quad read mode"
	default n
	help
	  Enables mode to try nor dual quad read mode.

source "drivers/flash/Kconfig.acts"

endif # FLASH
