# Kconfig - HDMI CEC configuration options

#
# Copyright (c) 2015 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

#
# CEC options
#
menuconfig CEC_ACTS
	bool
	prompt "Actions CEC Drivers"
	default n
	help
	Enable Actions CEC Driver Configuration

config CEC_DEV_NAME
	string "HDMI CEC Driver's name"
	depends on CEC_ACTS
	default "CEC_0"
