# Kconfig - ACTIONS primitive options for sdk version 2.0

#
# Copyright (c) 2015 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BT_LOG_SERVICE
	bool "BT Log Service"
	depends on ACTLOG
	select ACTLOG_OUTPUT_USER
	select BT_MANAGER
	select THREAD_TIMER
	help
	  Enable BT log service.

if BT_LOG_SERVICE

config BT_LOG_SERVICE_STACK_SIZE
	int "BT Log Service Stack Size"
	default 2048
	help
	  Set BT log service stack size.

config BT_LOG_SERVICE_PRIORITY
	int "BT Log Service Thread Priority"
	default 11
	help
	  Set BT log service thread priority.

endif # LAUNCHER_APP
