# Kconfig - Input device configuration options
#
#
# Copyright (c) 2021 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig INPUT_DEV
	bool
	prompt "Input device drivers"
	default n
	help
	  Enable input device driver configuration

if INPUT_DEV

source "drivers/input/tpkey/Kconfig"

config SYS_LOG_INPUT_DEV_LEVEL
	int
	prompt "INPUT Device drivers log level"
	range 0 4
	default 0
	help
	  Sets log level for INPUT Device driver.

	  Levels are:
	  - 0 OFF, do not write
	  - 1 ERROR, only write SYS_LOG_ERR
	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level
	  - 3 INFO, write SYS_LOG_INF in addition to previous levels
	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config INPUT_DEV_ACTS_ADCKEY
	bool "Actions SoC adc keypad driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC adc keypad driver.

config ADCKEY_POLL_TIMER
	bool "Actions Soc ADC key polling status by timer"
	depends on INPUT_DEV_ACTS_ADCKEY
	default n
	help
	  If you say Y here, you will get support ADC polling status by timer.

config INPUT_DEV_ACTS_GPIOKEY
	bool "Actions SoC gpio keypad driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC gpio keypad driver.

config GPIO_KEY_POLL_TIMER
	bool "Actions Soc GPIO key polling status by timer"
	depends on INPUT_DEV_ACTS_GPIOKEY
	default n
	help
	  If you say Y here, you will get support GPIO key polling status by timer.

config INPUT_DEV_ACTS_ONOFF_KEY
	bool "Actions SoC On/Off key driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC On/Off key driver.

config ONOFF_KEY_POLL_TIMER
	bool "Actions Soc On/Off key polling status by timer"
	depends on INPUT_DEV_ACTS_ONOFF_KEY
	default n
	help
	  If you say Y here, you will get support On/Off key polling status by timer.

config INPUT_DEV_ACTS_TP_KEY
	bool "Actions SoC On/Off key driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC TP key driver.

config INPUT_DEV_ACTS_KEY_PAD
	bool "Actions SoC mx key pad driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC mx key pad driver.

config INPUT_DEV_ACTS_QUAD_DECODER
	bool "Actions SoC QD driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC QD driver.

config INPUT_DEV_ACTS_IR_CAPTURE
	bool "Actions SoC IR capture driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable support for Actions SoC IR capture driver.
endif # INPUT_DEV
