# ADC configuration options

# Copyright (c) 2021 Actions Semiconductor Co., Ltd
# SPDX-License-Identifier: Apache-2.0

menuconfig WDOG_ACTS
	bool "Actions SoC Watchdog (WDT) Driver"
	depends on SOC_FAMILY_ACTS
	default n
	help
	  Enable watchdog driver for Actions SoC.

config WDT_ACTS_NAME
	string "Watchdog Driver's name"
	depends on WDOG_ACTS
	default "WDT_0"

config WDT_ACTS_START_AT_BOOT
	bool "Start Watchdog during boot"
	depends on WDOG_ACTS
	default n
	help
	  Enable this setting to allow WDOG to be automatically started
	  during device initialization. Note that once WDOG is started
	  it must be reloaded before the counter reaches 0, otherwise
	  the MCU will be reset.

config WDT_ACTS_OVERFLOW_TIME
	int "actions watchdog overflow time"
	depends on WDOG_ACTS
	default 10000
	help
	  Set the name used by WDT device during registration.

config WDT_MODE_RESET
	bool "actions watchdog overflow reset or not"
	depends on WDOG_ACTS
	default n
	help
	  Set watchdog overflow reset or interrupt
