# Copyright (c) 2020 Intel Corporation.
# SPDX-License-Identifier: Apache-2.0

config FSCK_MSDOS
	bool
	prompt "fsck for FAT file system"
	default n
	depends on FAT_FILESYSTEM_ELM
	help
	  This option enable fsck_msdos support.
