# STM32F469I-DISCO board configuration

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

config BOARD_ATS3089C_DEV_WATCH
	bool "loepard ats3089C  Development Board"
	depends on SOC_LEOPARD
