# Configuration options for Actions INPUT YP DRIVERS

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

if INPUT_DEV_ACTS_TP_KEY

config INPUT_DEV_ACTS_CST816S_TP_KEY
	bool "Actions SoC TP key driver"
	default n
	help
	  Enable support for Actions SoC TP key driver.

config INPUT_DEV_ACTS_CST816S_COB_TP_KEY
	bool "Actions SoC TP key driver"
	default n
	help
	  Enable support for Actions SoC TP key driver.

config INPUT_DEV_ACTS_IT7259_TP_KEY
	bool "Actions SoC TP key driver"
	default n
	help
	  Enable support for Actions SoC TP key driver.

config INPUT_DEV_ACTS_FT5X0X_TP_KEY
	bool "Actions SoC TP key driver"
	default n
	help
	  Enable support for Actions SoC TP key driver.

endif # INPUT_DEV_ACTS_TP_KEY
