# Configuration options for Actions Display Accelerator

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

menuconfig JPEG_HW
	bool "JPEG_HW Engine"
	help
	  Enable JPEG_HW Engine

if JPEG_HW

config JPEG_HW_CLK_RATE
	int "jpeg hw clk rate"
	default 128
	help
	  Set JPEG_HW clk rate support

endif # JPEG_HW
