# Configuration options for Actions Display Accelerator

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0
config ACT_LED
	bool "led display"
	default n
	help
	  Enable led display

config ACT_DYNAMIC_LED
	bool "led display"
	default n
	help
	  Enable led display
