#
# Copyright (c) 2020 Actions Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Actions
#

menu "Actions framework"

config ACTIONS_FRAMEWORK
	bool
	prompt "actions framework"
	default n
	select LEGACY_TIMEOUT_API
	select OSAL
	help
	This option enable or disable actions framework

rsource "core/Kconfig"
rsource "utils/Kconfig"
rsource "property/Kconfig"
rsource "memory/Kconfig"
endmenu
