# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ATS3085S_DEV_WATCH_2CS_NOR

config BOARD
	default "ats3085s_dev_watch_2cs_nor"

config I2CMT_LEOPARD
    default y

config SPIMT_LEOPARD
    default y

if DISPLAY

config PANEL_ICNA3310B
    default y

endif # DISPLAY

if LOG

config LOG_BUFFER_SIZE
	default 4096

config LOG_DETECT_MISSED_STRDUP
    default n

endif # LOG


if SHELL_DBG

config KERNEL_SHELL
	default y

config DEVICE_SHELL
	default y

config POSIX_CLOCK
	default y

config DATE_SHELL
	default y

config INIT_STACKS
	default y

config THREAD_STACK_INFO
	default y

config THREAD_MONITOR
	default y

config THREAD_NAME
	default y

if GPIO

config GPIO_SHELL
	default y

endif # GPIO

if FILE_SYSTEM

config FILE_SYSTEM_SHELL
	default y

endif # FILE_SYSTEM

if FLASH

config FLASH_SHELL
	default y

endif # FLASH

if FLASH_MAP

config FLASH_MAP_SHELL
	default y

endif # FLASH_MAP

endif # SHELL_DBG

if SPINAND_ACTS
config SPI_HOST
	default 3
endif # SPINAND_ACTS

endif # BOARD_ATS3085S_DEV_WATCH_EXT_NOR
