# Copyright (c) 2018 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


if MMC

config MMC_SDCARD
	bool "Support SD Card"
	default n
	help
	  Enable support for SD Card.

config MMC_SDIO
	bool "SDIO driver"
	default n
	help
	  Enable support for SDIO.

config MMC_ACTS
	bool "Actions SoC MMC driver"
	default n
	help
	  Enable MMC Controller of Actions SoC

config SD_USE_IOVCC1_POWER
	bool "sdmmc use IOVCC1 as power"
	default n
	help
	  Enable IOVCC1 as sdmmc power

config SD_IDLE_SLEEP_MS
	int "idle appointed time, then sleep"
	default 6000
	help
	  If mmc keeps time(ms) in not read or not written state, go to sleep.

endif


