# Kconfig - Actions memory manager

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

config TILE_CACHE_NUM
	int "Number of tile cache"
	default 1
	help
	  This option specifies the Number of tile cache.

config TILE_MAX_W
	int "max width of tiles (pixels)"
	default 32
	help
	  This option specifies the max width of tiles(pixels).


config TILE_MAX_H
	int "max height of tiles (pixels)"
	default 32
	help
	  This option specifies the max height of tiles(pixels).


config TILE_BYTES_PER_PIXELS
	int "bytes per pixels (pixels)"
	default 4
	help
	  This option specifies the bytes per pixels(pixels).


