# Actions GPIO configuration options

# Copyright (c) 2018 Justin Watson
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_ACTS
	bool "Actions acts GPIO (PORT) driver"
	default y
	help
	  Enable support for the Actions  GPIO controllers.
