<?xml version="1.0" encoding="utf-8"?>
<!--
    test    : 结点名, 定义测试项
    param   : 结点名, 定义测试参数, test的子节点
    tid     : 定义测试项ID, test的专有属性；固定分配，与程序相关, 不可修改
    name    : 定义名称的资源索引, 如: 测试项名称、参数名称等
    desc    : 定义描述的资源索引, 如: 测试项描述、参数描述等
    operate : 定义控件类型, param的专有属性
      > edit    : 编辑框, 有range和type属性
      > single  : 下拉框，N选1(N>2), 有sub子结点
      > checkbox: 二选一,checked属性可选，设置默认选中状态
    type    : 定义值类型, 编辑框(operate为edit)的专有属性
      > string  : 字符串, 与range属性共存, mask属性可选
      > dec     : 十进制数字, value为十进制形式，range指定值范围, 无需指定mask(默认0123456789-), 支持负数
      > hex     : 十六进制，value为十六进制形式，range指定固定长度或值范围, 无需指定mask(默认0123456789ABCDEFabcdef)
    range   : 定义值范围, 格式min:max, range=5为固定长度(十进制形式)，range=4:8为范围值
    value   : 定义默认值
    mask    : 定义有效字符集, 编辑框(operate为edit)的可选属性
    sub     : 定义下拉框列表项, 下拉框 (operate为single)的专有子结点
      > name属性定义一个下拉项, 需有value属性定义下拉项的值
      > range属性定义一组(>1)下拉项集合, 无需value属性, 各项的值由range指定
      > select设置默认选中项
    index   : 定义parm顺序，指定则以编辑顺序为准；也应用于config.txt
    show    : 在编辑工具中是否显示此参数，未配置或值为true则显示
    version : config节点新加属性, 表明config.xml的版本
      > v160301: param节点增加index和show属性
    userdata: 自定义数据类型
      >bdaddr :蓝牙地址输入
      >sn: sn输入
-->

<config version="180912" name = "/">

  <!-- 量产测试: 14 -->
  <test tid = "14" name = "S1600" desc = "S1601">
    <!-- modify BT classic name -->
    <param name = "S102" value = " " operate = "edit" range = "0:29" desc = "S103" type = "string"/>
  </test>

  <L804 desc="Chinese">
    <S100 value="修改蓝牙名称" />
    <S101 value="包含一个参数，蓝牙名称" />
    <S102 value="修改经典蓝牙名称"/>
    <S103 value="修改经典蓝牙名称，最多29个字符" />

    <S300 value="修改蓝牙地址" />
    <S301 value="蓝牙地址高3字节" />
    <S302 value="蓝牙地址高3字节，必须是3字节的十六进制数字" />
    <S303 value="蓝牙地址低3字节-起始值" />
    <S304 value="修改蓝牙地址低3字节数据，必须是3字节的十六进制数字" />
    <S305 value="蓝牙地址生成方式" />
    <S306 value="0:累加 1:随机 2:固定 3:人工输入(含扫描枪) 4:用户自定义(用户DLL返回蓝牙地址) 卡模式只支持累加形式" />
    <S307 value="累加" />
    <S308 value="随机"/>
    <S309 value="固定"/>
    <S310 value="允许蓝牙地址多次修改" />
    <S311 value="允许蓝牙地址多次修改 0:不允许 1:允许" />
    <S312 value="不允许" />
    <S313 value="允许"/>
    <S314 value="三元组 "/>
    <S320 value="人工输入"/>
    <S321 value="用户自定义"/>
    <S322 value="蓝牙地址低3字节-结束值" />
    <S323 value="修改成功后打印蓝牙地址" />
    <S324 value="用户提供命令行程序Printer.exe并将之拷贝到测试工具目录下。Printer.exe bd_addr=A1B2C3D4E5F6" />
    <S325 value="蓝牙地址检查" />
    <S326 value="用户输入一个蓝牙地址并与小机中的蓝牙地址进行一致性检查" />
    <S327 value="蓝牙地址打印" />
    <S328 value="  用户输入蓝牙地址" />
    <S329 value="用户输入的蓝牙地址必须是6字节的十六进制数字" />
    <S330 value="是否修改蓝牙地址" />
    <S331 value="主要用于占位,不能删除" />
    <S340 value="GMA" />
    <S341 value="私钥" />

    <S400 value="蓝牙测试" />
    <S401 value="蓝牙发射机地址" />
    <S402 value="回连使用的蓝牙发射机地址，必须是6字节的十六进制数字" />
    <S403 value="蓝牙测试模式" />
    <S404 value="蓝牙测试模式" />
    <S405 value="连接性测试" />
    <S406 value="播放测试" />
    <S407 value="连接性+播放测试" />
    <S408 value="BT测试必须放到稍微靠后的位置" />
    <S410 value="BT测试等待时间" />
    <S411 value="等待BT测试完成的超时时间" />

    <S500 value="FM播放测试" />
    <S501 value="FM播放频点" />
    <S502 value="必须是十进制整数值，比如107.1MHZ,值要设为1071" />
    <S503 value="FM收台灵敏度" />
    <S504 value="灵敏度请保持跟方案的搜台门限值一致，可以适当调低一点，以确保判断正确" />

    <S700 value="LINEIN通道测试" />

    <S800 value="主MIC通道测试" />
    <S801 value="通过主MIC采样检测MIC通道" />
    <S802 value="频率下限" />
    <S803 value="频率上限" />
    <S804 value="频率值，单位为HZ" />
    <S805 value="能量门槛" />
    <S806 value="MIC输入能量检测经验值" />

    <S900 value="FM通道测试" />

    <S1000 value="副MIC通道测试" />
    <S1001 value="通过副MIC采样检测MIC通道" />
    <S1002 value="频率下限" />
    <S1003 value="频率上限" />
    <S1004 value="频率值，单位为HZ" />
    <S1005 value="能量门槛" />
    <S1006 value="MIC输入能量检测经验值" />

    <S1200 value="LINEIN播放测试" />

    <S1300 value="蓝牙频偏校准" />
    <S1301 value="蓝牙信道频点"/>
    <S1302 value="0-78信道可选"/>
    <S1303 value="中信道频点"/>
    <S1304 value="27-54信道可选,可选择测试或不测试"/>
    <S1305 value="高信道频点"/>
    <S1306 value="55-78信道可选,可选择测试或不测试"/>
    <S1307 value="不测试"/>
    <S1387 value="是否测试频偏"/>
    <S1388 value="测试"/>
    <S1389 value="  校准电容最小值" />
    <S1390 value="校准电容，值域范围0到239" />
    <S1391 value="  校准电容最大值" />
    <S1392 value="设置频偏校准时, 电容校准范围(pF)" />
    <S1393 value="  是否限制电容值范围" />
    <S1394 value="当频偏调整结束后，是否调整初始搜索的最小值和最大值" />
    <S1395 value="不修改"/>
    <S1396 value="修改"/>

    <S1397 value="  频偏最小值"/>
    <S1398 value="范围以khz为单位，如-20代表-20khz"/>
    <S1399 value="  频偏最大值"/>
    <S1320 value="该测试项会进行电容值的调整，以设定一个合适的频偏值"/>

    <S1400 value="范围以khz为单位，如20代表+20khz"/>
    <S1401 value="  频偏数值写入模式"/>
    <S1402 value="对于MCP IC,建议选择先写入efuse,再写入norflash。非MCP IC建议选择写入efuse"/>
    <S1403 value="不写入"/>
    <S1404 value="只写入norflash"/>
    <S1405 value="先写入efuse，后写入norflash"/>
    <S1406 value="只写入efuse"/>
    <S1407 value="UPT初始频率偏移"/>
    <S1408 value="UPT初始固有频率偏移，范围为HZ"/>

    <S1436 value="是否测试发射功率"/>
    <S1437 value="若选择测试发射功率，则需要配置发射功率阈值，勾选此项，则频偏测试过程中会同时测试发射功率"/>
    <S1438 value="  发射功率最小值"/>
    <S1439 value="范围以db为单位，如-6代表-6db"/>
    <S1440 value="  发射功率最大值"/>
    <S1441 value="范围以db为单位，如4代表4db"/>

    <S1442 value="是否测试灵敏度"/>
    <S1443 value="若测试灵敏度，需配置灵敏度的阈值"/>
    <S1444 value="  灵敏度最小值"/>
    <S1445 value="范围以db为单位，如-90代表-90db"/>
    <S1446 value="  灵敏度最大值"/>
    <S1447 value="范围以db为单位，如-70代表-70db"/>

    <S1500 value="固件升级准备"/>
    <S1501 value="该测试项为空测试项，防止量产重启后重新量产，该测试项必须和固件升级测试项放在一起，且在其前面"/>

    <S1600 value="固件升级测试"/>
    <S1601 value="该测试项为固件升级测试，如勾选必须是第一个测试项"/>

    <S1700 value="蓝牙频偏读取测试"/>
    <S1701 value="是否测试灵敏度"/>
    <S1702 value="若测试灵敏度，需配置灵敏度的阈值"/>
    <S1703 value="  灵敏度阈值最小值"/>
    <S1704 value="阈值范围0到90，值越小越好，该值为批量统计值，表示合法的最小值"/>
    <S1705 value="灵敏度测试"/>
    <S1706 value="  灵敏度阈值最大值"/>
    <S1707 value="阈值范围0到90，值越小越好，该值为批量统计值，表示合法的最大值"/>
    <S1708 value="  信号强度最小值"/>
    <S1709 value="阈值范围0到90，该值为批量统计值，表示合法的最小值"/>
    <S1710 value="  信号强度最大值"/>
    <S1711 value="阈值范围0到90，该值为批量统计值，表示合法的最小值"/>
    <S1712 value="信号强度读取测试"/>
    <S1713 value="该测试项用于读取当前样机的频偏值，但不进行频偏校正"/>
    <S1714 value="该测试项用于读取当前样机的灵敏度数值，也就是误码率"/>
    <S1715 value="该测试项用于读取当前样机与UPT收发数据的信号强度，用于距离测试"/>

    <S1800 value="蓝牙地址读取测试"/>

    <S2100 value="IC烧录测试"/>
    <S2101 value="该测试项用于ATT工具烧写IC测试，测试前请修改fwimage_xxx.cfg文件，添加EBURN_FW关键字描述"/>

    <S2102 value="IC校验测试"/>
    <S2103 value="该测试项用于测试IC和测试的atf文件是否匹配，进而确定IC种类是否正确"/>

    <S2200 value="蓝牙名称读取测试"/>
    <S2201 value="该测试项用于读取蓝牙名称，也可用于校验读取的蓝牙名称与期望的名称是否一致"/>
    <S2202 value="是否校验经典蓝牙名称"/>
    <S2203 value="如果打开该配置，则程序会比较读取的名称和期望的名称是否一致"/>
    <S2204 value="    待比较经典蓝牙名称"/>
    <S2205 value="待比较经典蓝牙名称，最多29个字符" />
    <S2206 value="是否校验蓝牙BLE名称"/>
    <S2207 value="如果打开该配置，则程序会比较读取的名称和期望的名称是否一致"/>
    <S2208 value="    待比较蓝牙BLE名称"/>
    <S2209 value="待比较蓝牙BLE名称，最多29个字符" />

    <S2400 value="BQB模式测试" />
    <S2401 value="进入BQB测试模式后，ATT工具会结束测试，因此该测试项必须是最后一个测试项,BQB测试模式进入后小机由CBT控制" />

    <S2600 value="蓝牙频偏校准(快速模式)" />
    <S2640 value="是否检测RSSI"/>
    <S2641 value="若选择测试RSSI，勾选此项，则频偏测试过程中会同时测试"/>
    <S2642 value="  RSSI最小值"/>
    <S2643 value="范围以dBm为单位，如-6代表-6dBm"/>
    <S2644 value="  RSSI最大值"/>

    <S2700 value="修改产品序列号" />
    <S2701 value="产品序列号"/>
    <S2702 value="产品序列号，最多20个字符" />
    <S2705 value="序列号生成方式" />
    <S2706 value="0:累加 1:随机 2:固定 3:人工输入(含扫描枪) 4:用户自定义" />

    <S2800 value="修改产品信息(PID,序列号,MAC...)" />
    <S2801 value="产品ID"/>
    <S2802 value="产品序列号"/>
    <S2803 value="产品MAC地址"/>
    <S2804 value="保留扩展项"/>
  </L804>

  <L409 desc="English (United States)">
    <S100 value="Modify BT name" />
    <S101 value="Including one parameter, BT name" />
    <S102 value="Modify BLE name"/>
    <S103 value="Modify BLE name, 29 bytes at most" />

    <S200 value="Modify BLE name" />
    <S201 value="Modify BLE name, 29 bytess at most" />

    <S300 value="Modify BT ADDR" />
    <S301 value="High 3bytes" />
    <S302 value="3 high bytes of BT ADDR in hexadecimal format" />
    <S303 value="Low 3bytes(start)" />
    <S304 value="3 low bytes of BT ADDR in hexadecimal format" />
    <S305 value="Generation Mode" />
    <S306 value="0:cumulative 1:random 2:constant 3:manual(e.g. scanner) 4:customized(user's DLL returns a value)" />
    <S307 value="cumulative" />
    <S308 value="random"/>
    <S309 value="constant"/>
    <S310 value="Allow BT ADDR to be mutiply mutimodified or not" />
    <S311 value="0:No 1:Yes " />
    <S312 value="No" />
    <S313 value="Yes"/>
    <S314 value="Tripple unit group"/>
    <S320 value="Manual"/>
    <S321 value="Customized"/>
    <S322 value="Low 3bytes(end)" />
    <S323 value="Print BT ADDR" />
    <S324 value="Printer.exe must be in the ATT installed path, or ATT will fail. Printer.exe bd_addr=A1B2C3D4E5F6" />
    <S325 value="Check BT ADDR" />
    <S326 value="Please enter a BT ADDR to check if it is the same with target equipment" />
    <S327 value="Print BT ADDR" />
    <S328 value="  Compared ADDR" />
    <S329 value="The BT ADDR must be a 6-byte hexadecimal number" />
    <S330 value="ALlow BT ADDR modified or not" />
    <S331 value="placeholder, MUST NOT delete" />
    <S340 value="GMA" />
    <S341 value="private key" />

    <S400 value="BT Test" />
    <S401 value="BT transmitter ADDR" />
    <S402 value="ADDR of the transmitter for reconnection, must be a 6-byte hexadecimal number" />
    <S403 value="BT testing mode" />
    <S404 value="BT testing mode" />
    <S405 value="Connection testing" />
    <S406 value="Playing testing" />
    <S407 value="Connect + Playing testing" />
    <S408 value="BT testing MUST be the last test item" />
    <S410 value="BT test wait time" />
    <S411 value="BT test timeout time" />

    <S500 value="FM playing testing" />
    <S501 value="Frequency" />
    <S502 value="It must be a decimal integer type number, e.g. 107.1MHz is set as 1071" />

    <S700 value="LINEIN channel test" />

    <S800 value="Main MIC connection test" />
    <S801 value="MIC connection test through input data sampling" />
    <S802 value="Frequency low threshold" />
    <S803 value="Frequency high threshold" />
    <S804 value="Frequency，Hz" />
    <S805 value="MIC input data energy threshold" />
    <S806 value="MIC input data energy detect default value" />

    <S900 value="FM channel testing" />

    <S1000 value="Vice MIC connection test" />
    <S1001 value="MIC connection test through input data sampling" />
    <S1002 value="Frequency low threshold" />
    <S1003 value="Frequency high threshold" />
    <S1004 value="Frequency，Hz" />
    <S1005 value="MIC input data energy threshold" />
    <S1006 value="MIC input data energy detect default value" />

    <S1200 value="LINEIN playing testing" />

    <S1300 value="CFO Adjust(deprecated)" />
    <S1301 value="BT channel"/>
    <S1302 value="From channel 0 to channel 78"/>
    <S1303 value="Medium channels"/>
    <S1304 value="From channel 27 to channel 54"/>
    <S1305 value="High channels"/>
    <S1306 value="From channel 55 to channel 78"/>
    <S1307 value="No"/>
    <S1387 value="Test CFO"/>
    <S1388 value="Yes"/>
    <S1389 value="  Calibration capacitor MIN value" />
    <S1390 value="Calibration capacitor value, range from 0 to 239" />
    <S1391 value="  Calibration capacitor MAX value" />
    <S1392 value="Limitation of the calibration capacitor value(0.1pf)" />
    <S1393 value="  Whether to set restriction of the calibration capacitor value" />
    <S1394 value="Restrict the capacitor value between the MIN and MAX" />
    <S1395 value="No"/>
    <S1396 value="Yes"/>

    <S1397 value="  MIN CFO offset"/>
    <S1398 value="In KHz unit, e.g. -20 stands for -20KHz"/>
    <S1399 value="  MAX CFO offset"/>
    <S1320 value="This test case may adjust cap value of DUT"/>

    <S1400 value="In KHz unit, e.g. 20 stands for 20KHz"/>
    <S1401 value="  Write record mode"/>
    <S1402 value="For MCP IC, it's advised to write efuse and norflash. For other ICs, choose write efuse only"/>
    <S1403 value="Not to write"/>
    <S1404 value="Only write norflash"/>
    <S1405 value="Write efuse first and then write norflash"/>
    <S1406 value="Only write efuse"/>
    <S1407 value="UPT initial frequency offset"/>
    <S1408 value="UPT initial natural frequency offset in Hz unit"/>

    <S1436 value="TX Power Test"/>
    <S1437 value="If test, set the transmitting power threshold first. This issue is together with frequency offset issue by selecting it"/>
    <S1438 value="  MIN TX power"/>
    <S1439 value="In dB unit, e.g. -6 stands for -6dB"/>
    <S1440 value="  MAX TX power"/>
    <S1441 value="In dB unit, e.g. 4 stands for 4dB"/>

    <S1442 value="BER Test"/>
    <S1443 value="If test, set the BER threshold first"/>
    <S1444 value="  MIN value of BER"/>
    <S1445 value="In dB unit, e.g. -90 stands for -90db"/>
    <S1446 value="  MAX value of BER"/>
    <S1447 value="In dB unit, e.g. -70 stands for -70db"/>

    <S1600 value="Firmware upgrade testing"/>
    <S1601 value="For firmware upgrade, if select, it MUST be the first test item"/>

    <S1700 value="Read CFO Test"/>
    <S1701 value="Test BER or not"/>
    <S1702 value="If test, set the BER threshold first"/>
    <S1703 value="  MIN BER"/>
    <S1704 value="Threshold range from 0 to 90. The smaller, the better. It's statistical value and stands for legal MIN value"/>
    <S1705 value="BER test(not support card)"/>
    <S1706 value="  MAX BER"/>
    <S1707 value="Threshold range from 0 to 90. The smaller, the better. It's statistical value and stands for legal MAX value"/>
    <S1708 value="  MIN RSSI"/>
    <S1709 value="Threshold range from 0 to 90.It's statistical value and stands for legal MIN value"/>
    <S1710 value="  MAX RSSI"/>
    <S1711 value="Threshold range from 0 to 90.It's statistical value and stands for legal MAX value"/>
    <S1712 value="RSSI Test(not support card)"/>
    <S1713 value="This test case only read frequency offset of DUT, not adjust its frequency offset"/>
    <S1714 value="This test case read sensitivity(or BER) value of DUT"/>
    <S1715 value="This test case read RSSI value of DUT"/>

    <S1800 value="Read BT ADDR"/>

    <S2100 value="IC writing testing"/>
    <S2101 value="Before testing, please modify fwimage_xxx.cfg file by adding EBURN_FW key word"/>

    <S2102 value="IC checking testing"/>
    <S2103 value="For checking the IC type"/>

    <S2200 value="Read BT name"/>
    <S2201 value="For reading and checking BT name"/>
    <S2202 value="Check BT name"/>
    <S2203 value="Compare the current name with expected name whether they are the same"/>
    <S2204 value="    Classic BT name"/>
    <S2205 value="Classic BT name for comparation, 29 bytes at most" />
    <S2206 value="Check BLE name"/>
    <S2207 value="Compare the current name with expected name whether they are the same"/>
    <S2208 value="    BLE name"/>
    <S2209 value="BLE name for comparation, 29 bytes at most" />

    <S2300 value="FCC mode testing" />
    <S2301 value="ATT will ends all testings after entering FCC mode. So be sure the FCC mode testing is the last one." />

    <S2400 value="BQB mode testing" />
    <S2401 value="ATT will ends all testings after entering BQB mode. So be sure the BQB mode testing is the last one." />

    <S2600 value="CFO Adjust(fast mode)" />
    <S2640 value="Whether check RSSI"/>
    <S2641 value="If select RSSI check，will check RSSI in the given interval"/>
    <S2642 value="  RSSI min"/>
    <S2643 value="In dBm unit, e.g. -6 stands for -6dBm"/>
    <S2644 value="  RSSI max"/>

    <S2700 value="Modify product SN" />
    <S2701 value="product serial nunmber"/>
    <S2702 value="product serial nunmber, 20 character at most" />
    <S2705 value="SN Generation Mode" />
    <S2706 value="0:cumulative 1:random 2:constant 3:manual(e.g. scanner) 4:customized(user's DLL returns a value)" />

    <S2800 value="Modify product info(PID, SN, MAC, etc.)" />
    <S2801 value="Product identification"/>
    <S2802 value="Product serial number"/>
    <S2803 value="Product MAC address"/>
    <S2804 value="Reserve for extension"/>
  </L409>

</config>