# drivers configuration options

# Copyright (c) 2015 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/bluetooth/Kconfig"

source "drivers/cfg_drv/Kconfig"

source "drivers/console/Kconfig"

source "drivers/debug/Kconfig"

source "drivers/serial/Kconfig"

source "drivers/timer/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/spi/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/adc/Kconfig"

source "drivers/watchdog/Kconfig"

source "drivers/flash/Kconfig"

source "drivers/sensor/Kconfig"

source "drivers/dma/Kconfig"

source "drivers/usb/Kconfig"

source "drivers/display/Kconfig"

source "drivers/audio/Kconfig"

source "drivers/ipmsg/Kconfig"

source "drivers/mmc/Kconfig"

source "drivers/misc/Kconfig"

source "drivers/nvram/Kconfig"

source "drivers/dsp/Kconfig"

source "drivers/input/Kconfig"

source "drivers/power_supply/Kconfig"

source "drivers/spinand/Kconfig"

source "drivers/rtc/Kconfig"

source "drivers/cec/Kconfig"

source "drivers/mpu/Kconfig"

source "drivers/video/Kconfig"

source "drivers/compensation/Kconfig"

source "drivers/gpu/Kconfig"

source "drivers/se/Kconfig"

source "drivers/gps/Kconfig"

rsource "pwm/Kconfig"

rsource "led/Kconfig"

rsource "anc/Kconfig"

rsource "dvfs/Kconfig"
endmenu
