# Copyright (c) 2020 Intel Corporation.
# SPDX-License-Identifier: Apache-2.0

config DEBUG_RAMDUMP
	bool
	prompt "Dump ram to flash"
	default n
	select EXTRA_EXCEPTION_INFO
	help
	  This option enable ram dump support.
