# Copyright (c) 2018 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


menuconfig SPI_ACTS
	bool "actions SPI driver"
	help
	  Enable support for actions SPI driver

menuconfig SPIMT_ACTS
	bool "actions SPIMT driver"
	select RBUF_LIB
	help
	  Enable support for actions SPIMT driver

if SPIMT_ACTS

config SPIMT_LARK
	bool "SPIMT driver on SoC Lark"
	default n
	depends on SOC_SERIES_LARK
	help
	  Enable SPIMT driver on SoC Lark

config SPIMT_LEOPARD
	bool "SPIMT driver on SoC Leopard"
	default y
	depends on SOC_SERIES_LEOPARD
	help
	  Enable SPIMT driver on SoC Leopard

endif # SPIMT_ACTS


