# Kconfig - Actions audio

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig AUDIO
	bool
	prompt "Audio"
	select VOLUME_MANAGER
	select AUDIO_IN
	select AUDIO_OUT
	default n
	help
	This option enables actions audio
	
config VOLUME_MANAGER
	bool
	prompt "actions volume manager"
	depends on AUDIO
	default n
	help
	This option enables actions actions volume manager.

config AUDIO_VOICE_HARDWARE_REFERENCE
	bool
	prompt "actions voice hardware reference"
	depends on AUDIO
	default y
	help
	This option enablesactions voice hardware reference.




