# Configuration options for Actions OSAL

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

menuconfig OSAL
	bool "OS Hal"
	default n
	help
	  Enable OS Hal

if OSAL

config USER_WORK_Q
	bool "support user work queue"
	help
	  This option support user work queue

config USER_WORK_Q_PRIORITY
	int "user work queue priority"
	default -11
	depends on USER_WORK_Q
	help
	  This option user work queue priority

config USER_WORK_Q_STACK_SIZE
	int "user work queue stack size"
	default 1024
	depends on USER_WORK_Q
	help
	  This option user work queue stack size

config DISPLAY_WORK_Q
	bool "support display work queue"
	help
	  This option support display work queue

config DISPLAY_WORK_Q_PRIORITY
	int "display work queue priority"
	default -12
	depends on DISPLAY_WORK_Q
	help
	  This option display work queue priority

config DISPLAY_WORK_Q_STACK_SIZE
	int "display work queue stack size"
	default 1024
	depends on DISPLAY_WORK_Q
	help
	  This option display work queue stack size

endif # OSAL
