#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

if VG_LITE

choice
	prompt "Memory pool"
	default VG_LITE_MALLOC_GUI_HEAP
	help
	  Memory pool to use for lvgl allocated objects

	config VG_LITE_MALLOC_GUI_HEAP
		bool "UI GUI heap"
		depends on UI_MEMORY_MANAGER && (UI_GUI_MEM_POOL_SIZE != 0)
		help
		  Use UI Manager GUI heap

	config VG_LITE_MALLOC_SYS_HEAP
		bool "User space private pool"
		help
		  Use a dedicated memory pool from a private sys heap.

	config VG_LITE_MALLOC_LIBC
		bool "Use libc allocation"
		help
		  Use libc allocation.

endchoice

if VG_LITE_MALLOC_SYS_HEAP

config VG_LITE_MALLOC_HEAP_SIZE
	int "VG-Lite malloc heap size (in bytes)"
	default 2048
	help
	  This option specifies the size of the VG-Lite malloc heap.
	  A size of zero means that no VG-Lite heap is defined.

endif

endif # VG_LITE
