# STM32F469I-DISCO board configuration

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

config BOARD_ATS3085S_WATCH_BOOTNAND
	bool "loepard ats3085s bootnand  Development Board"
	depends on SOC_LEOPARD
