# Kconfig - Actions ota

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig OTA
	bool
	prompt "ota"
	default n
	help
	This option enables actions ota

config OTA_LZMA
	bool "OTA lzma Support"
	depends on OTA
	default y
	help
	  This option enable OTA lzma.

config OTA_PRODUCT_SUPPORT
	bool "OTA product Support"
	depends on OTA
	default n
	help
	  This option enable OTA transmit.

config OTA_BLE_MASTER_SUPPORT
	bool "LE OTA product Support"
	depends on OTA
	default n
	help
	  This option enable BLE OTA transmit.

