# Kconfig - Power supply configuration options
#
#
# Copyright (c) 2021 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig POWER_SUPPLY
    bool
    prompt "Power supply drivers"
    default n
    help
      Enable power supply drivers configuration

if POWER_SUPPLY

config POWER_SUPPLY_ACTS_BATTERY
    bool "Actions SoC battery power supply driver"
    depends on SOC_FAMILY_ACTS
    default n
    help
      Enable support for Actions SoC battery driver.

choice
    prompt "Actsion Soc battery power supply methods"
    depends on POWER_SUPPLY_ACTS_BATTERY
    help
        This option will select the different methods for the battery power supply.

config ACTS_LARK_BATTERY_SUPPLY_INTERNAL
    bool "lark battery supplied by internal charger"
    help
        Support battery power supplied by internal charger.

config ACTS_LARK_BATTERY_SUPPLY_EXTERNAL
    bool "lark battery supplied by external charger"
    help
        Support battery power supplied by external charger.

config ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
    bool "leopard battery supplied by internal charger"
    help
        Support battery power supplied by internal charger.

config ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
    bool "leopard battery supplied by external charger"
    help
        Support battery power supplied by external charger.

endchoice

config ACTS_BATTERY_SUPPLY_CHARGER_BOX
    bool "battery supplied by the charger box"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL
    help
        Support battery power supplied by charger box.

config ACTS_BATTERY_SUPPLY_EXT_COULOMETER
    bool "battery measure by external coulometer"
    depends on ACTS_LARK_BATTERY_SUPPLY_EXTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
    help
        Support bettery power measured by external coulometer.

config ACTS_BATTERY_SUPPORT_CHARGER_NTC
    bool "battery support NTC temperature detect"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
	default n
    help
        Support battery temperature detect.
		
config ACTS_BATTERY_SUPPORT_INIT_CHARGER_NTC
    bool "battery support init charge stage NTC temperature detect"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL && ACTS_BATTERY_SUPPORT_CHARGER_NTC
	default n
    help
        Support battery init charge stage temperature detect.

config ACTS_BATTERY_SUPPORT_MINI_CHARGER_NTC
    bool "battery support mini charge stage NTC temperature detect"
    depends on (ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL && ACTS_BATTERY_SUPPORT_CHARGER_NTC) || ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
	default n
    help
        Support battery mini charge stage temperature detect.

config ACTS_BATTERY_SUPPORT_FAST_CHARGER
    bool "battery support fast charge function"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
	default n
    help
        Support battery fast charge.
		
config ACTS_BATTERY_POWERON_MIN_VOL_WITHOUT_DC5V
    int "power on min voltage setting"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
	default 3300 if ACTS_LARK_BATTERY_SUPPLY_INTERNAL
	default 3600 if ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
	default 3600 if ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
    help
        Set power on min voltage when not plug dc5v .	

config ACTS_BATTERY_SYSTEM_CONSUME_MA
    int "default system consume current"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
	default 10
    help
        Set default value for system consume current .	
		
config ACTS_BATTERY_WAKEUP_PERIOD_MINUTE
    int "default wakeup period for sample batadc"
    depends on ACTS_LARK_BATTERY_SUPPLY_INTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL
	default 10
    help
        Set default value for wakeup period for sample batadc .			

config ACTS_BATTERY_DRIVER_SHELL
    bool "ext battery charger support shell"
    depends on ACTS_LEOPARD_BATTERY_SUPPLY_INTERNAL || ACTS_LARK_BATTERY_SUPPLY_EXTERNAL || ACTS_LEOPARD_BATTERY_SUPPLY_EXTERNAL
	default y
    help
        Support extern charger driver use shell .		

endif # POWER_SUPPLY
