# drivers configuration options

# Copyright (c) 2020 Actions Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Framework Porting Drivers"

rsource "anc/Kconfig"
rsource "dsp/Kconfig"
rsource "audio/Kconfig"
rsource "key/Kconfig"
rsource "osal/Kconfig"
rsource "dma2d/Kconfig"
rsource "display/Kconfig"
rsource "memory/Kconfig"
rsource "sensor/Kconfig"
rsource "misc/Kconfig"
rsource "led/Kconfig"
rsource "jpeg/Kconfig"
endmenu
