# Configuration options for Actions Display Accelerator

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

menuconfig DMA2D_LITE
	bool "DMA2D Lite Engine"
	depends on SOC_SERIES_LEOPARD
	help
	  Enable DMA2D Lite Engine

if DMA2D_LITE

config DMA2D_LITE_INSTANCE_NUM
	int "DMA2D Lite Instance Number"
	default 2
	help
	  Set DMA2D lite maximum instances to support

endif # DMA2D_LITE
