# Kconfig - Actions system manager

#
# Copyright (c) 2016 Actions Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ACTIONS_FRAMEWORK_DISPLAY
	bool "Display Support"
	depends on ACTIONS_FRAMEWORK
	help
	  This option enables actions system manager.

if ACTIONS_FRAMEWORK_DISPLAY

config LED_MANAGER
	bool "LED Manager Support"
#	depends on LED
	help
	  This option enables actions led manager.

config SEG_LED_MANAGER
	bool "SEG LED Manager Support"
	depends on SEG_LED
	help
	  This option enables actions seg led  manager.

config UI_MANAGER
	bool "Ui Manager Support"
	help
	  This option enables actions app manager.

choice
	prompt "Surface Buffer Swap Mode"
	default SURFACE_DOUBLE_BUFFER
	depends on UI_MEMORY_MANAGER

config SURFACE_DOUBLE_BUFFER
	bool "Double Buffer"

config SURFACE_SINGLE_BUFFER
	bool "Single Buffer"

config SURFACE_ZERO_BUFFER
	bool "Zero Buffer"

endchoice

config SURFACE_TRANSFORM_UPDATE
	bool "Surface update with transformation"
	depends on UI_MEMORY_MANAGER && DMA2D_HAL
	help
	  Enable surface update with 90/180/270 rotation transform

rsource "compression/Kconfig"
rsource "font/Kconfig"
rsource "lvgl/Kconfig"
rsource "memory/Kconfig"
rsource "res_manager/Kconfig"
rsource "ui_service/Kconfig"
orsource "vg_lite/Kconfig"

endif # ACTIONS_FRAMEWORK_DISPLAY
