# Configuration options for Actions Display Panel

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

if DISPLAY_LCDC

# Normal panels

config PANEL_ER76288A
	bool "RD-ER76288A display driver"
	help
	  Enable driver for RD-ER76288A display driver.

config PANEL_FT2308
	bool "FT2308 display driver"
	help
	Enable driver for FT2308 display driver.

config PANEL_GC9C01
	bool "GC9C01 display driver"
	help
	  Enable driver for GC9C01 display driver.

config PANEL_ICNA3310B
	bool "ICNA3310B display driver"
	help
	  Enable driver for ICNA3310B display driver.

config PANEL_ICNA3311
	bool "ICNA3311 display driver"
	help
	  Enable driver for ICNA3311 display driver.

config PANEL_RM69090
	bool "RM69090 display driver"
	help
	  Enable driver for RM69090 display driver.

config PANEL_RM690B0
	bool "RM690B0 display driver"
	help
	  Enable driver for RM690B0 display driver.

config PANEL_SH8601Z0
	bool "SH8601Z0 display driver"
	help
	  Enable driver for SH8601Z0 display driver.

config PANEL_ST77916
	bool "ST77916 display driver"
	help
	  Enable driver for ST77916 display driver.

config PANEL_ST7802
	bool "ST7802 display driver"
	help
	  Enable driver for ST7802 display driver.

config PANEL_JD9853
	bool "JD9853 display driver"
	help
	  Enable driver for JD9853 display driver.

# Ram-less panels

config PANEL_AXS15231B
	bool "AXS15231B display driver"
	help
	  Enable driver for AXS15231B display driver.

config PANEL_ST77903
	bool "ST77903 display driver"
	help
	  Enable driver for ST77903 display driver.

# TR panels

config PANEL_LPM015M135A
	bool "LPM015M135A display driver"
	help
	  Enable driver for JDI LPM015M135A display driver.

endif # DISPLAY_LCDC
