# Kconfig - Audio configuration options
#
#
# Copyright (c) 2017 Actions Semiconductor Co.,Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig AUDIO_ACTS
	bool
	prompt "audio Drivers"
	default n
	help
	Enable options for Actions audio drivers.

if AUDIO_ACTS

config AUDIO_OUT_ACTS
	bool
	prompt "Actions SoC audio output driver"
	default n
	help
	Device driver for Actions SoC audio output

config AUDIO_OUT_ACTS_DEV_NAME
	string "Device Name for Actions SoC audio output"
	default "audio_out"
	depends on AUDIO_OUT_ACTS
	help
	  This is the device name for audio output, and is included in the
	  device struct.

config AUDIO_OUT_DAC_SUPPORT
	bool
	prompt "enable DAC out or not"
	default n
	depends on AUDIO_OUT_ACTS
	help
	audio enable DAC out or not.

config AUDIO_OUT_DAC_PCMBUF_SUPPORT
	bool
	prompt "enable DAC PCMBUF or not"
	default n
	depends on AUDIO_OUT_DAC_SUPPORT
	help
	audio enable DAC PCMBUF or not.

config AUDIO_ANTIPOP_PROCESS
	bool
	prompt "Enable acts audio antipop process"
	default n
	depends on AUDIO_OUT_DAC_SUPPORT
	help
	If you say Y here, you will get support actions audio antipop process when power on and off.

config AUDIO_OUT_I2STX_SUPPORT
	bool
	prompt "enable i2s tx out or not"
	default n
	depends on AUDIO_OUT_ACTS
	help
	audio enable I2S-TX out or not.

config AUDIO_OUT_SPDIFTX_SUPPORT
	bool
	prompt "enable spdif tx out or not"
	default n
	depends on AUDIO_OUT_ACTS
	help
	audio enable spdif out or not.

config AUDIO_OUT_PDMTX_SUPPORT
	bool
	prompt "enable PDMTX out or not"
	default n
	depends on AUDIO_OUT_ACTS
	help
	audio enable PDMTX out or not.

config AUDIO_IN_ACTS
	bool
	prompt "Actions SoC audio input driver"
	default n
	help
	Device driver for Actions SoC audio input

config AUDIO_IN_ACTS_DEV_NAME
	string "Device Name for Actions SoC audio input"
	default "audio_in"
	depends on AUDIO_IN_ACTS
	help
	  This is the device name for audio input, and is included in the
	  device struct.

config AUDIO_IN_ADC_SUPPORT
	bool
	prompt "enable ADC out or not"
	default n
	depends on AUDIO_IN_ACTS
	help
	audio enable ADC in or not.

config ADC_STARTUP_DISCARD_TIME
	int "setup the time in millisecond once ADC startup to discard data"
	default 80
	help
		This option setup the time in millisecond to discard data when ADC startup.

config AUDIO_IN_I2SRX_SUPPORT
	bool
	prompt "enable i2s rx in or not"
	default n
	depends on AUDIO_IN_ACTS
	help
	audio enable i2srx in or not.

config AUDIO_IN_SPDIFRX_SUPPORT
	bool
	prompt "enable spdif rx in or not"
	default n
	depends on AUDIO_IN_ACTS
	help
	audio enable spdif in or not.

config AUDIO_IN_ANC_SUPPORT
	bool
	prompt "enable Active Noise Control or not"
	default n
	depends on AUDIO_IN_ACTS
	help
	audio enable ANC(Active Noise Control) or not.

config AUDIO_PA_AW87390_SUPPORT
	bool
	prompt "enable AW87390 pa or not"
	default n
	help
	Enable external AW87390 pa or not.

config BOARD_EXTERNAL_PA_ENABLE
	bool
	prompt "enable external pa or not"
	default n
	help
	Enable external pa or not.

config EXTERN_PA_CLASS
	int "set external pa default class mode"
	depends on BOARD_EXTERNAL_PA_ENABLE
	default 1
	range 0 1
	help
	Set extern pa class mode, 0 for classAB, other value for classD.

config AUDIO_POWERON_OPEN_PA
	bool
	prompt "open PA when power on"
	depends on AUDIO_OUT_DAC_SUPPORT
	default n
	help
	Open PA when power on or not.

config AUDIO_POWERON_OPEN_I2STX
	bool
	prompt "open I2STX when power on"
	depends on AUDIO_OUT_I2STX0_SUPPORT
	default n
	help
	Open I2STX when power on or not.

config AUDIO_DRIVER_SHELL
	bool "Acts audio driver shell support"
	depends on SHELL
	default n
	help
	If you say Y here, you will get support for the actions audio driver shell.

config AUDIO_DRIVER_STREAM_SHELL
	bool "Acts audio driver stream shell for play/record test"
	depends on AUDIO_DRIVER_SHELL
	default n
	help
	If you say Y here, you will get support the actions audio stream shell
	for audio driver play or record test.

config AUDIO_DEBUG_TRACE
	bool "Enable audio debug trace"
	default n
	help
	If you say Y here, you will get support audio debug trace function.

config AUDIO_DYNAMIC_DEBUG
	bool "Enable audio dynamic debug"
	default n
	help
	If you say Y here, you will get support audio dynamic debug function.

config AUDIO_ACTS_UTILS
	bool "Acts audio driver utils support"
	depends on AUDIO_OUT_ACTS || AUDIO_IN_ACTS
	default y
	help
	If you say Y here, you will get support for the actions audio driver utils.

config ADC_DMIC
	bool
	prompt "Enable ADC use DMIC"
	default n
	help
		If you say Y here, you will get support the digital MIC function in ADC.
		If unsure, it is safe to say N.

config ADC_DMIC_RL_SEQUENCE
	bool
	prompt "ADC DMIC data in RL sequence"
	depends on ADC_DMIC
	default n
	help
		If you say Y here, you will get support the digital DMIC R and L data sequence.
		For the LARK chipset, this macro will be used to control DMIC01 channel sequence.
		If unsure, it is safe to say N.

config ADC_DMIC23_RL_SEQUENCE
	bool
	prompt "ADC DMIC data in RL sequence"
	depends on ADC_DMIC
	default n
	help
		If you say Y here, you will get support the digital DMIC23 R and L data sequence.
		If unsure, it is safe to say N.

endif # AUDIO
