# Copyright (c) 2018 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


menuconfig SPI_FLASH_ACTS
	bool "actions SPI flash driver"
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	help
	  Enable support for actions SPI flash driver

config SPI_NOR_FLASH_DRV_EXT
	bool
	prompt "Select the external NOR driver"
	default n
	depends on SPI_FLASH_ACTS
	help
		If you say Y here, Select the external NOR driver, else use brom nor driver.

config SPI_NOR_FLASH_4B_ADDRESS
	bool
	prompt "Support NOR flash 4-byte address driver"
	default n
	depends on SPI_FLASH_ACTS
	select SPI_NOR_FLASH_DRV_EXT
	help
		If you say Y here, you will get support NOR flash 4-byte address driver.
		If unsure, it is safe to say N.

config NOR_CODE_IN_RAM
	bool
	prompt "extern nor flash driver run in RAM"
	default n
	select  SPI_NOR_FLASH_DRV_EXT
	help
		If you say Y here, the external NOR driver run in RAM.

config NOR_SUSPEND_RESUME
	bool
	prompt "nor suspend & resume enable"
	default n
	help
		If you say Y here, nor driver use suspend & resume enable.

config NOR_SECURIYT_SUSPPORT
	bool
	prompt "nor security registers erase/program/read suspport"
	default n
	help
		If you say Y here, nor security registers erase/program/read suspport.


config SIM_FLASH_ACTS
	bool
	prompt "Support sim flash driver"
	default n

config SIM_FLASH_SIZE
    hex
    depends on SIM_FLASH_ACTS
    prompt "sim flash size"
    default 0x4000
    help
    	sim flash max size

config BLOCK_DEV_FLASH_ACTS
	bool
	prompt "Support block dev flash drvier"
	default n