# SPDX-License-Identifier: Apache-2.0

if LVGL

config LVGL_USE_RES_MANAGER
	bool "Enable resource attributes conversion"
	default y
	depends on RES_MANAGER
	help
	  Enable resource atributes conversion

config LVGL_RES_PRELOAD_PRIORITY
	int "Res Preload Thread Prioriy"
	default 5
	depends on LVGL_USE_RES_MANAGER
	help
	This option set res preload thread priority

config LVGL_RES_PRELOAD_STACKSIZE
	int "Res Preload Thread Stack Size"
	default 1536
	depends on LVGL_USE_RES_MANAGER
	help
	This option set stack size for res preload thread

config LVGL_USE_BITMAP_FONT
	bool "Enable bitmap fonts"
	default y
	depends on BITMAP_FONT
	help
	  Enable bitmap font support

config LVGL_USE_FREETYPE_FONT
	bool "Enable freetype fonts"
	default y
	depends on FREETYPE_FONT
	help
	  Enable freetype font support

config LVGL_USE_IMG_DECODER_ACTS_RES
	bool "Enable Actions image res decoder"
	help
	  Enable Actions image res decoder

endif # LVGL
