# drivers configuration options

# Copyright (c) 2015 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

source "drivers/bluetooth/Kconfig"


source "drivers/console/Kconfig"

source "drivers/debug/Kconfig"
source "drivers/serial/Kconfig"

source "drivers/timer/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/spi/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/watchdog/Kconfig"

source "drivers/flash/Kconfig"

source "drivers/dma/Kconfig"

source "drivers/display/Kconfig"

source "drivers/ipmsg/Kconfig"

source "drivers/mmc/Kconfig"

source "drivers/misc/Kconfig"

source "drivers/nvram/Kconfig"

source "drivers/input/Kconfig"

source "drivers/spinand/Kconfig"

source "drivers/mpu/Kconfig"


rsource "pwm/Kconfig"
endmenu
