# Kconfig - DSP device configuration options
#
#
# Copyright (c) 2018 Actions Semiconductor Co., Ltd
#
# SPDX-License-Identifier: Apache-2.0
#

#
# MPU options
#

config MPU_ACTS
	bool "Memory protect unit for Actions SoC"
	default n
	help
	enable actions mpu
	
choice
    prompt "mpu driven select"
    default MPU_EXCEPTION_DRIVEN
    help
      Select mpu driven 
	
config MPU_IRQ_DRIVEN
    bool    
    prompt "use mpu interrupt driven"
    depends on MPU_ACTS
    help
    This option select mpu driven type
    
config MPU_EXCEPTION_DRIVEN
    bool    
    prompt "use mpu exception driven"
    depends on MPU_ACTS
    help
    This option select mpu driven type    	
endchoice


config MPU_MONITOR_CACHECODE_WRITE
    bool    
    prompt "use mpu monitor cache code write"
    depends on MPU_ACTS
    default y
    help
    This option enables mpu monitor cache code write 

config MPU_MONITOR_FLASH_AREA_WRITE
    bool    
    prompt "use mpu monitor nor flash cache address write"
    depends on !MPU_MONITOR_CACHECODE_WRITE
    default n
    help
    This option enables nor flash address  write

config MPU_MONITOR_FLASH_AREA_BASE
    hex    
    prompt "use mpu monitor nor flash area write base address"
    depends on MPU_MONITOR_FLASH_AREA_WRITE
    default 0x10000000
    help
    This option set mpu monitor nor flash area write base address
config MPU_MONITOR_FLASH_AREA_END
    hex    
    prompt "use mpu monitor nor flash area write end address"
    depends on MPU_MONITOR_FLASH_AREA_WRITE
    default 0x18000000
    help
    This option set mpu monitor nor flash area write end address
     
    
config MPU_MONITOR_RAMFUNC_WRITE
    bool    
    prompt "use mpu monitor ramfunc write"
    depends on MPU_ACTS
    default y
    help
    This option enables mpu monitor ramfunc write     


config MPU_MONITOR_USER_DATA
    bool    
    prompt "use mpu monitor user data"
    depends on MPU_ACTS
    default y
    help
    This option enables mpu monitor dsp write mcu memory 
           
config MPU_MONITOR_ROMFUNC_WRITE
    bool    
    prompt "use mpu monitor rom func write"
    depends on MPU_ACTS
    default n
    help
    This option enables mpu monitor rom func write     
    
config MPU_ACTS_MAX_INDEX
    int    
    prompt "mpu max entry index"
    depends on MPU_ACTS
    default 4
    help
    This option select mpu monitor bt controller memory index     


config MPU_MONITOR_CACHECODE_WRITE_INDEX
    int    
    prompt "use mpu monitor cache code write index"
    depends on MPU_MONITOR_CACHECODE_WRITE || MPU_MONITOR_FLASH_AREA_WRITE
    default 0
    help
    This option select mpu monitor cache code write index 
    
config MPU_MONITOR_RAMFUNC_WRITE_INDEX
    int    
    prompt "use mpu monitor ramfunc write"
    depends on MPU_MONITOR_RAMFUNC_WRITE
    default 1
    help
    This option select mpu monitor ramfunc write index    

    
config MPU_MONITOR_USER_DATA_INDEX
    int    
    prompt "use mpu monitor user data memory index"
    depends on MPU_ACTS
    default 3
    help
    This option select mpu monitor user data memory index    
    
config MPU_MONITOR_ROMFUNC_WRITE_INDEX
    int    
    prompt "use mpu monitor rom func write index"
    depends on MPU_MONITOR_ROMFUNC_WRITE
    default 2
    help
    This option select mpu monitor rom func write index       

                                              