
config ACTIONS_PRINTK_DMA
	bool "printk use uart dma transfer"
	depends on !LOG_PRINTK
	select UART_DMA_DRIVEN
	default n
	help
		printk use uart dma transfer.

config PRINTK_DMA_FULL_LOST
	bool "printk lost if dma buf full"
	depends on ACTIONS_PRINTK_DMA
	default y
	help
		printk lost if dma buf full.


config PRINTK_TIME_FREFIX
	bool "printk add time prefix"
	depends on ACTIONS_PRINTK_DMA
	default n
	help
		printk add time prefix.

config KERNEL_SHOW_STACK
	bool "support show stack"
	default n
	help
		support show stack and crash show stack.

config DMA_PRINTK_BUF_SIZE
	int "Printk dma buffer size"
	default 4096
	help
	    Printk dma buffer size.

