# Configuration options for Actions OSAL

# Copyright (c) 2020 Actions Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

menuconfig JPEG_HAL
	bool "JPEG Hal"
	depends on JPEG_HW
	help
	  Enable JPEG Hal

if JPEG_HAL

endif # JPEG_HAL
