<?xml version="1.0" encoding="UTF-8"?>

<config_file version="ZS308A_V1.0" size="205" num_cfgs="11">

<category num_items="4">
	<item name="SYSTEM"      title="系统"         parent="" />
	<item name="UPGRADE"     title="固件烧录设置" parent="" />
	<item name="ASQT"        title="通话调节"     parent="" />
	<item name="ASET"        title="音效调节"     parent="" />
</category>

<enum name="TYPE_BOOL" title="TYPE_BOOL" num_items="2">
	<item name="YES" title="是" value="0x1" />
	<item name="NO"  title="否" value="0x0" />
</enum>

<enum name="TYPE_DC5V_UART_SWITCH_VOLT" title="TYPE_DC5V_UART_SWITCH_VOLT" num_items="5">
	<item name="DC5V_UART_SWITCH_VOLT_NA"    title="NA"    value="0x0" />
	<item name="DC5V_UART_SWITCH_VOLT_2_0_V" title="2.0 V" value="0x4" />
	<item name="DC5V_UART_SWITCH_VOLT_2_5_V" title="2.5 V" value="0x5" />
	<item name="DC5V_UART_SWITCH_VOLT_3_0_V" title="3.0 V" value="0x6" />
	<item name="DC5V_UART_SWITCH_VOLT_4_5_V" title="4.5 V" value="0x7" />
</enum>

<enum name="TYPE_MIC_GAIN" title="TYPE_MIC_GAIN" num_items="85">
	<item name="MIC_GAIN_0_0_DB"  title="0 dB"    value="0x0"   />
	<item name="MIC_GAIN_3_0_DB"  title="3.0 dB"  value="0x1e"  />
	<item name="MIC_GAIN_6_0_DB"  title="6.0 dB"  value="0x3c"  />
	<item name="MIC_GAIN_7_5_DB"  title="7.5 dB"  value="0x4b"  />
	<item name="MIC_GAIN_9_0_DB"  title="9.0 dB"  value="0x5a"  />
	<item name="MIC_GAIN_10_5_DB" title="10.5 dB" value="0x69"  />
	<item name="MIC_GAIN_12_0_DB" title="12.0 dB" value="0x78"  />
	<item name="MIC_GAIN_13_5_DB" title="13.5 dB" value="0x87"  />
	<item name="MIC_GAIN_15_0_DB" title="15.0 dB" value="0x96"  />
	<item name="MIC_GAIN_16_5_DB" title="16.5 dB" value="0xa5"  />
	<item name="MIC_GAIN_18_0_DB" title="18.0 dB" value="0xb4"  />
	<item name="MIC_GAIN_19_5_DB" title="19.5 dB" value="0xbe"  />
	<item name="MIC_GAIN_21_0_DB" title="21.0 dB" value="0xd2"  />
	<item name="MIC_GAIN_22_5_DB" title="22.5 dB" value="0xe1"  />
	<item name="MIC_GAIN_23_0_DB" title="23.0 dB" value="0xe6"  />
	<item name="MIC_GAIN_24_0_DB" title="24.0 dB" value="0xf0"  />
	<item name="MIC_GAIN_25_0_DB" title="25.0 dB" value="0xfa"  />
	<item name="MIC_GAIN_25_5_DB" title="25.5 dB" value="0xff"  />
	<item name="MIC_GAIN_26_0_DB" title="26.0 dB" value="0x104" />
	<item name="MIC_GAIN_26_5_DB" title="26.5 dB" value="0x109" />
	<item name="MIC_GAIN_27_0_DB" title="27.0 dB" value="0x10e" />
	<item name="MIC_GAIN_27_5_DB" title="27.5 dB" value="0x113" />
	<item name="MIC_GAIN_28_0_DB" title="28.0 dB" value="0x118" />
	<item name="MIC_GAIN_28_5_DB" title="28.5 dB" value="0x11d" />
	<item name="MIC_GAIN_29_0_DB" title="29.0 dB" value="0x122" />
	<item name="MIC_GAIN_29_5_DB" title="29.5 dB" value="0x127" />
	<item name="MIC_GAIN_30_0_DB" title="30.0 dB" value="0x12c" />
	<item name="MIC_GAIN_30_5_DB" title="30.5 dB" value="0x131" />
	<item name="MIC_GAIN_31_0_DB" title="31.0 dB" value="0x136" />
	<item name="MIC_GAIN_31_5_DB" title="31.5 dB" value="0x13b" />
	<item name="MIC_GAIN_32_0_DB" title="32.0 dB" value="0x140" />
	<item name="MIC_GAIN_32_5_DB" title="32.5 dB" value="0x145" />
	<item name="MIC_GAIN_33_0_DB" title="33.0 dB" value="0x14a" />
	<item name="MIC_GAIN_33_5_DB" title="33.5 dB" value="0x14f" />
	<item name="MIC_GAIN_34_0_DB" title="34.0 dB" value="0x154" />
	<item name="MIC_GAIN_34_5_DB" title="34.5 dB" value="0x159" />
	<item name="MIC_GAIN_35_0_DB" title="35.0 dB" value="0x15e" />
	<item name="MIC_GAIN_35_5_DB" title="35.5 dB" value="0x163" />
	<item name="MIC_GAIN_36_0_DB" title="36.0 dB" value="0x168" />
	<item name="MIC_GAIN_37_0_DB" title="37.0 dB" value="0x172" />
	<item name="MIC_GAIN_38_0_DB" title="38.0 dB" value="0x17c" />
	<item name="MIC_GAIN_39_0_DB" title="39.0 dB" value="0x186" />
	<item name="MIC_GAIN_40_0_DB" title="40.0 dB" value="0x190" />
	<item name="MIC_GAIN_41_0_DB" title="41.0 dB" value="0x19a" />
	<item name="MIC_GAIN_42_0_DB" title="42.0 dB" value="0x1a4" />
	<item name="MIC_GAIN_43_0_DB" title="43.0 dB" value="0x1ae" />
	<item name="MIC_GAIN_44_0_DB" title="44.0 dB" value="0x1b8" />
	<item name="MIC_GAIN_45_0_DB" title="45.0 dB" value="0x1c2" />
	<item name="MIC_GAIN_46_0_DB" title="46.0 dB" value="0x1cc" />
	<item name="MIC_GAIN_47_0_DB" title="47.0 dB" value="0x1d6" />
	<item name="MIC_GAIN_48_0_DB" title="48.0 dB" value="0x1e0" />
	<item name="MIC_GAIN_49_0_DB" title="49.0 dB" value="0x1ea" />
	<item name="MIC_GAIN_50_0_DB" title="50.0 dB" value="0x1f4" />
	<item name="MIC_GAIN_51_0_DB" title="51.0 dB" value="0x1fe" />
	<item name="MIC_GAIN_52_0_DB" title="52.0 dB" value="0x208" />
	<item name="MIC_GAIN_53_0_DB" title="53.0 dB" value="0x212" />
	<item name="MIC_GAIN_54_0_DB" title="54.0 dB" value="0x21c" />
	<item name="MIC_GAIN_55_0_DB" title="55.0 dB" value="0x226" />
	<item name="MIC_GAIN_56_0_DB" title="56.0 dB" value="0x230" />
	<item name="MIC_GAIN_57_0_DB" title="57.0 dB" value="0x23a" />
	<item name="MIC_GAIN_58_0_DB" title="58.0 dB" value="0x244" />
	<item name="MIC_GAIN_59_0_DB" title="59.0 dB" value="0x24e" />
	<item name="MIC_GAIN_60_0_DB" title="60.0 dB" value="0x258" />
	<item name="MIC_GAIN_61_0_DB" title="61.0 dB" value="0x262" />
	<item name="MIC_GAIN_62_0_DB" title="62.0 dB" value="0x26c" />
	<item name="MIC_GAIN_63_0_DB" title="63.0 dB" value="0x276" />
	<item name="MIC_GAIN_64_0_DB" title="64.0 dB" value="0x280" />
	<item name="MIC_GAIN_65_0_DB" title="65.0 dB" value="0x28a" />
	<item name="MIC_GAIN_66_0_DB" title="66.0 dB" value="0x294" />
	<item name="MIC_GAIN_67_0_DB" title="67.0 dB" value="0x29e" />
	<item name="MIC_GAIN_68_0_DB" title="68.0 dB" value="0x2a8" />
	<item name="MIC_GAIN_69_0_DB" title="69.0 dB" value="0x2b2" />
	<item name="MIC_GAIN_70_0_DB" title="70.0 dB" value="0x2bc" />
	<item name="MIC_GAIN_71_0_DB" title="71.0 dB" value="0x2c6" />
	<item name="MIC_GAIN_72_0_DB" title="72.0 dB" value="0x2d0" />
	<item name="MIC_GAIN_73_0_DB" title="73.0 dB" value="0x2da" />
	<item name="MIC_GAIN_74_0_DB" title="74.0 dB" value="0x2e4" />
	<item name="MIC_GAIN_75_0_DB" title="75.0 dB" value="0x2ee" />
	<item name="MIC_GAIN_76_0_DB" title="76.0 dB" value="0x2f8" />
	<item name="MIC_GAIN_77_0_DB" title="77.0 dB" value="0x302" />
	<item name="MIC_GAIN_78_0_DB" title="78.0 dB" value="0x30c" />
	<item name="MIC_GAIN_79_0_DB" title="79.0 dB" value="0x316" />
	<item name="MIC_GAIN_81_0_DB" title="81.0 dB" value="0x32a" />
	<item name="MIC_GAIN_82_5_DB" title="82.5 dB" value="0x339" />
	<item name="MIC_GAIN_84_0_DB" title="84.0 dB" value="0x348" />
</enum>

<enum name="TYPE_VOLUME_GAIN" title="TYPE_VOLUME_GAIN" num_items="80">
	<item name="VOLUME_GAIN_0"  title="MUTE"         value="0x0"  />
	<item name="VOLUME_GAIN_1"  title=" -45.375  dB" value="0x46" />
	<item name="VOLUME_GAIN_2"  title=" -42.750  dB" value="0x4d" />
	<item name="VOLUME_GAIN_3"  title=" -39.000  dB" value="0x57" />
	<item name="VOLUME_GAIN_4"  title=" -36.750  dB" value="0x5d" />
	<item name="VOLUME_GAIN_5"  title=" -34.500  dB" value="0x63" />
	<item name="VOLUME_GAIN_6"  title=" -32.250  dB" value="0x69" />
	<item name="VOLUME_GAIN_7"  title=" -31.125  dB" value="0x6c" />
	<item name="VOLUME_GAIN_8"  title=" -29.250  dB" value="0x71" />
	<item name="VOLUME_GAIN_9"  title=" -27.750  dB" value="0x75" />
	<item name="VOLUME_GAIN_10" title=" -26.625  dB" value="0x78" />
	<item name="VOLUME_GAIN_11" title=" -25.500  dB" value="0x7b" />
	<item name="VOLUME_GAIN_12" title=" -24.375  dB" value="0x7e" />
	<item name="VOLUME_GAIN_13" title=" -23.250  dB" value="0x81" />
	<item name="VOLUME_GAIN_14" title=" -22.125  dB" value="0x84" />
	<item name="VOLUME_GAIN_15" title=" -21.375  dB" value="0x86" />
	<item name="VOLUME_GAIN_16" title=" -20.250  dB" value="0x89" />
	<item name="VOLUME_GAIN_17" title=" -19.500  dB" value="0x8b" />
	<item name="VOLUME_GAIN_18" title=" -19.125  dB" value="0x8c" />
	<item name="VOLUME_GAIN_19" title=" -18.750  dB" value="0x8d" />
	<item name="VOLUME_GAIN_20" title=" -18.000  dB" value="0x8f" />
	<item name="VOLUME_GAIN_21" title=" -17.250  dB" value="0x91" />
	<item name="VOLUME_GAIN_22" title=" -16.500  dB" value="0x93" />
	<item name="VOLUME_GAIN_23" title=" -15.750  dB" value="0x95" />
	<item name="VOLUME_GAIN_24" title=" -15.000  dB" value="0x97" />
	<item name="VOLUME_GAIN_25" title=" -14.625  dB" value="0x98" />
	<item name="VOLUME_GAIN_26" title=" -13.875  dB" value="0x9a" />
	<item name="VOLUME_GAIN_27" title=" -13.125  dB" value="0x9c" />
	<item name="VOLUME_GAIN_28" title=" -12.750  dB" value="0x9d" />
	<item name="VOLUME_GAIN_29" title=" -12.000  dB" value="0x9f" />
	<item name="VOLUME_GAIN_30" title=" -11.625  dB" value="0xa0" />
	<item name="VOLUME_GAIN_31" title=" -10.875  dB" value="0xa2" />
	<item name="VOLUME_GAIN_32" title=" -10.125  dB" value="0xa4" />
	<item name="VOLUME_GAIN_33" title=" -9.750  dB"  value="0xa5" />
	<item name="VOLUME_GAIN_34" title=" -9.375  dB"  value="0xa6" />
	<item name="VOLUME_GAIN_35" title=" -8.625  dB"  value="0xa8" />
	<item name="VOLUME_GAIN_36" title=" -8.250  dB"  value="0xa9" />
	<item name="VOLUME_GAIN_37" title=" -7.875  dB"  value="0xaa" />
	<item name="VOLUME_GAIN_38" title=" -7.500  dB"  value="0xab" />
	<item name="VOLUME_GAIN_39" title=" -7.125  dB"  value="0xac" />
	<item name="VOLUME_GAIN_40" title=" -6.750  dB"  value="0xad" />
	<item name="VOLUME_GAIN_41" title=" -6.375  dB"  value="0xae" />
	<item name="VOLUME_GAIN_42" title=" -6.000  dB"  value="0xaf" />
	<item name="VOLUME_GAIN_43" title=" -5.625  dB"  value="0xb0" />
	<item name="VOLUME_GAIN_44" title=" -5.250  dB"  value="0xb1" />
	<item name="VOLUME_GAIN_45" title=" -4.875  dB"  value="0xb2" />
	<item name="VOLUME_GAIN_46" title=" -4.500  dB"  value="0xb3" />
	<item name="VOLUME_GAIN_47" title=" -4.125  dB"  value="0xb4" />
	<item name="VOLUME_GAIN_48" title=" -3.750  dB"  value="0xb5" />
	<item name="VOLUME_GAIN_49" title=" -3.375  dB"  value="0xb6" />
	<item name="VOLUME_GAIN_50" title=" -3.000  dB"  value="0xb7" />
	<item name="VOLUME_GAIN_51" title=" -2.625  dB"  value="0xb8" />
	<item name="VOLUME_GAIN_52" title=" -2.250  dB"  value="0xb9" />
	<item name="VOLUME_GAIN_53" title=" -1.875  dB"  value="0xba" />
	<item name="VOLUME_GAIN_54" title=" -1.500  dB"  value="0xbb" />
	<item name="VOLUME_GAIN_55" title=" -1.125  dB"  value="0xbc" />
	<item name="VOLUME_GAIN_56" title=" -0.750  dB"  value="0xbd" />
	<item name="VOLUME_GAIN_57" title=" -0.375  dB"  value="0xbe" />
	<item name="VOLUME_GAIN_58" title=" 0.00   dB"   value="0xbf" />
	<item name="VOLUME_GAIN_59" title=" 0.375  dB"   value="0xc0" />
	<item name="VOLUME_GAIN_60" title=" 0.750  dB"   value="0xc1" />
	<item name="VOLUME_GAIN_61" title=" 1.125  dB"   value="0xc2" />
	<item name="VOLUME_GAIN_62" title=" 1.500  dB"   value="0xc3" />
	<item name="VOLUME_GAIN_63" title=" 1.875  dB"   value="0xc4" />
	<item name="VOLUME_GAIN_64" title=" 2.250  dB"   value="0xc5" />
	<item name="VOLUME_GAIN_65" title=" 2.625  dB"   value="0xc6" />
	<item name="VOLUME_GAIN_66" title=" 3.000  dB"   value="0xc7" />
	<item name="VOLUME_GAIN_67" title=" 3.375  dB"   value="0xc8" />
	<item name="VOLUME_GAIN_68" title=" 3.750  dB"   value="0xc9" />
	<item name="VOLUME_GAIN_69" title=" 4.125  dB"   value="0xca" />
	<item name="VOLUME_GAIN_70" title=" 4.500  dB"   value="0xcb" />
	<item name="VOLUME_GAIN_71" title=" 4.875  dB"   value="0xcc" />
	<item name="VOLUME_GAIN_72" title=" 5.250  dB"   value="0xcd" />
	<item name="VOLUME_GAIN_73" title=" 5.625  dB"   value="0xce" />
	<item name="VOLUME_GAIN_74" title=" 6.000  dB"   value="0xcf" />
	<item name="VOLUME_GAIN_75" title=" 6.375  dB"   value="0xd0" />
	<item name="VOLUME_GAIN_76" title=" 6.750  dB"   value="0xd1" />
	<item name="VOLUME_GAIN_77" title=" 7.125  dB"   value="0xd2" />
	<item name="VOLUME_GAIN_78" title=" 7.500  dB"   value="0xd3" />
	<item name="VOLUME_GAIN_79" title=" 7.875  dB"   value="0xd4" />
</enum>

<struct name="Type_ANALOG_GAIN_Settings" title="模拟增益设置" size="4" num_items="4">
	<item type="uint8" name="ANALOG_Gain_Poweron"  title="开机默认模拟增益"     offs="0" size="1" refer="TYPE_ANALOG_GAIN_MAP" comment="NA时为-3DB" />
	<item type="uint8" name="ANALOG_Gain_Voice"    title="语音场景模拟增益"     offs="1" size="1" refer="TYPE_ANALOG_GAIN_MAP" comment="NA时跟随开机模拟增益" />
	<item type="uint8" name="ANALOG_Gain_BTSpeech" title="蓝牙通话场景模拟增益" offs="2" size="1" refer="TYPE_ANALOG_GAIN_MAP" comment="NA时跟随开机模拟增益" />
	<item type="uint8" name="ANALOG_GAIN_BTMusic"  title="蓝牙播歌场景模拟增益" offs="3" size="1" refer="TYPE_ANALOG_GAIN_MAP" comment="NA时跟随开机模拟增益" />
</struct>

<struct name="Type_DC5V_UART_Comm_Settings" title="DC5V_COM 通讯设置" size="8" num_items="5">
	<item type="uint8"  name="Enable_DC5V_UART_Comm_Mode" title="启用 DC5V_COM 通讯模式"    offs="0" size="1" refer="TYPE_BOOL"                  />
	<item type="uint8"  name="DC5V_UART_Switch_Voltage"   title="DC5V_COM 切换电压"         offs="1" size="1" refer="TYPE_DC5V_UART_SWITCH_VOLT" />
	<item type="uint8"  name="Redirect_Console_Print"     title="重定向控制台打印"          offs="2" size="1" refer="TYPE_BOOL"                  />
	<item type="uint8"  name="DC5V_UART_Parity_Select"    title="DC5V_COM 奇偶校验位"       offs="3" size="1" refer="TYPE_UART_PARITY_BIT"       />
	<item type="uint32" name="DC5V_UART_Comm_Baudrate"    title="DC5V_COM 通讯波特率 (bps)" offs="4" size="4" range=""                           />
</struct>

<struct name="Type_MIC_Gain" title="MIC 增益" size="2" num_items="1">
	<item type="uint16" name="ADC0_Gain" title="ADC 增益" offs="0" size="2" refer="TYPE_MIC_GAIN" />
</struct>

<config name="User_Version" title="用户版本" cfg_id="0x01" offs="0x3c" size="32" num_items="1" category="SYSTEM">
	<item type="uint8" name="Version" title="版本信息" offs="0" size="32" range="" array="32" attr="string" />
</config>

<config name="Platform_Case" title="平台方案" cfg_id="0x02" offs="0x5c" size="28" num_items="5" category="SYSTEM" attr="readonly">
	<item type="uint32" name="IC_Type"       title="IC 类型"  offs="0"  size="4"  range="" attr="hex" />
	<item type="uint8"  name="Board_Type"    title="板型"     offs="4"  size="1"  range="" />
	<item type="uint8"  name="Case_Name"     title="方案名称" offs="5"  size="20" range="" array="20" attr="string" />
	<item type="uint8"  name="Major_Version" title="主版本号" offs="25" size="1"  range="" />
	<item type="uint8"  name="Minor_Version" title="次版本号" offs="26" size="1"  range="" />
</config>

<config name="Factory_Settings" title="固件烧录设置" cfg_id="0x03" offs="0x78" size="3" num_items="3" category="UPGRADE">
	<item type="uint8" name="Keep_User_VRAM_Data_When_UART_Upgrade"   title="烧录固件时保留用户区数据" offs="0" size="1" refer="TYPE_BOOL" />
	<item type="uint8" name="Keep_Factory_VRAM_Data_When_ATT_Upgrade" title="烧录固件时保留工厂区数据" offs="1" size="1" refer="TYPE_BOOL" />
	<item type="uint8" name="Erase_Entire_Storage"                    title="烧录前擦除所有数据"       offs="2" size="1" refer="TYPE_BOOL" />
</config>

<config name="BT_Call_Volume_Table" title="蓝牙通话音量分级表" cfg_id="0x04" offs="0x7b" size="32" num_items="1" category="VOLUME_GAIN">
	<item type="uint16" name="Level" title="分级" offs="0" size="32" refer="TYPE_VOLUME_GAIN" array="16" attr="click_popup" />
</config>

<config name="Voice_Volume_Table" title="语音音量分级表" cfg_id="0x05" offs="0x9b" size="34" num_items="1" category="VOLUME_GAIN">
	<item type="uint16" name="Level" title="分级" offs="0" size="34" refer="TYPE_VOLUME_GAIN" array="17" attr="click_popup" />
</config>

<config name="Volume_Settings" title="音量设置" cfg_id="0x06" offs="0xbd" size="4" num_items="3" category="VOLUME_GAIN">
	<item type="uint8" name="Voice_Min_Volume"       title="语音最小音量"     offs="1" size="1" range="0 ~ 16" attr="slide_bar" />
	<item type="uint8" name="Voice_Max_Volume"       title="语音最大音量"     offs="2" size="1" range="0 ~ 16" attr="slide_bar" />
	<item type="uint8" name="BT_Call_Default_Volume" title="蓝牙通话默认音量" offs="3" size="1" range="0 ~ 15" attr="slide_bar" />
</config>

<config name="BT_Call_Out_DAE" title="蓝牙通话输出音效" cfg_id="0x07" offs="0xc1" size="2" num_items="2" category="ASET" attr="adjust_online, asqt">
	<item type="uint8" name="Enable_DAE"  title="音效使能" offs="0" size="1" refer="TYPE_BOOL" />
	<item type="uint8" name="Test_Volume" title="测试音量" offs="1" size="1" range="0 ~ 16"    attr="slide_bar" />
</config>

<config name="BT_Call_MIC_DAE" title="蓝牙通话 MIC 音效" cfg_id="0x08" offs="0xc3" size="2" num_items="2" category="ASET" attr="adjust_online, asqt">
	<item type="uint8" name="Enable_DAE"  title="音效使能" offs="0" size="1" refer="TYPE_BOOL" />
	<item type="uint8" name="Test_Volume" title="测试音量" offs="1" size="1" range="0 ~ 16"    attr="slide_bar" />
</config>

<config name="BT_Call_Quality" title="通话效果" cfg_id="0x09" offs="0xc5" size="4" num_items="2" category="ASQT" attr="adjust_online, asqt">
	<item type="Type_MIC_Gain" name="MIC_Gain"    title="MIC 增益" offs="0" size="2" refer="Type_MIC_Gain" attr="click_popup" />
	<item type="uint8"         name="Test_Volume" title="测试音量" offs="2" size="1" range="0 ~ 15"        attr="slide_bar" />
</config>

<config name="BT_Music_DAE" title="蓝牙音乐音效" cfg_id="0x0B" offs="0xcb" size="2" num_items="2" category="ASET" attr="adjust_online">
	<item type="uint8" name="Enable_DAE"  title="音效使能" offs="0" size="1" refer="TYPE_BOOL" />
	<item type="uint8" name="Test_Volume" title="测试音量" offs="1" size="1" range="0 ~ 16"    attr="slide_bar" />
</config>

</config_file>

